:root {
--secondaty-font-family: "Raleway", sans-serif; 
--main-font-family: "Roboto", sans-serif; 

}
.list {
  text-decoration: none;
  font-family: var(--main-font-family);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.33;
  color: #2e2f42;
}
button {
  cursor: pointer;
  background: #4D5AE5;
}
.logo-part {
  color: #4d5ae5;
  font-family: var(--secondaty-font-family);

  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
}
.logo-part2 {
  font-family: var(--secondaty-font-family);

  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: #2e2f42;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.menu-link {
  font-family: var(--main-font-family);
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  color: #434455;
}
.list:hover,
.list:focus {
  color: #404bbf;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
body {
    font-family: "Roboto", sans-serif; 
    color: #434455;
}

.modal-open-btn:focus,
.modal-open-btn:hover {
  background: #404BBF;
}